<div class="login-container">
    <form class="col-md-12">
        <div class="mb-3">
            <label for="txtEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="button" id="btnSignIn" class="btn btn-primary">Sign In</button>
    </form>
</div>