<div class="profile-content--container">
    <div class="header"></div>
    <form class="profile-form row g-3" id="profile-form">
        <div class="col-md-6">
            <label class="form-label" for="txtUID">UID</label>
            <input class="form-control" disabled id="txtUID" required type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="txtDID">DID</label>
            <input class="form-control" disabled id="txtDID" required type="text">
        </div>
        <div class="col-md-12">
            <label class="form-label" for="txtDriver_Name">Name</label>
            <input class="form-control" id="txtDriver_Name" required type="text">
        </div>
        <div class="col-md-12">
            <label class="form-label" for="txtAddress">Address</label>
            <input class="form-control" id="txtAddress" required type="text">
        </div>
        <div class="col-md-12">
            <label class="form-label" for="txtContact">Contact</label>
            <input class="form-control" id="txtContact" required type="text">
        </div>
        <div class="col-md-12">
            <label class="form-label" for="txtNIC">NIC</label>
            <input class="form-control" id="txtNIC" required type="text">
        </div>
        <div class="col-md-12">
            <label class="form-label" for="txtDRLicense">DR.License</label>
            <input class="form-control" id="txtDRLicense" required type="text">
        </div>
        <div class="col-auto">
            <button class="btn btn-success" id="btnUpdateDetails" type="button">Update</button>
        </div>
    </form>
    <div class="footer"></div>
</div>